/*


--- TYPOGRAPHY

- Font sizes (px) - 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

- Line heights:
    Default: 1
    List: 1.2
    Paragraph default: 1.7

- Letter spacing:
    Heading: -1px
    1px
    2px


--- COLORS
    Primary: #b65e00
    Tag Vegetarian: #84cc16
    Tag Vegan: #22c55e
    Tag Paleo: #facc15

- Tints:
    #fbf1e6
    #f7e4cd
    #e4a051

- Shades:
    #a45500
    #7f4200

- Accents:
- Grays:
    #767676 (lightest gray that is allowed on #fff)
    #6f6f6f (lightest gray that is allowed on #fbf1e6
    #555
    #333

--- SHADOWS
    box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.14);
    box-shadow: 0 2.4rem 3.6rem rgba(0, 0, 0, 0.08);
    box-shadow: 0 3.6rem 4.8rem rgba(0, 0, 0, 0.05);

--- BORDER-RADIUS
    Default: 8px
    12px


--- WHITESPACES

- Spacing (px) - 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


 */

html {
    /* Default root font size is 16px. Set to 10px with percentage for easier rem usage/calculation. */
    /* 10px / 16px = 0.625 = 62.5% */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 0.3rem rgba(164, 85, 0, 0.5);
}

body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
}

/***************************/
/* GENERAL REUSABLE STYLES */
/***************************/

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
}

.grid:not(:last-child) {
    margin-bottom: 9.6rem;
}

.grid-align-center {
    align-items: center;
}

.grid-2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
    grid-template-columns: repeat(4, 1fr);
}

.grid-5-cols {
    grid-template-columns: repeat(5, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
    font-weight: 700;
    color: #333;
    letter-spacing: -1px;
}

.heading-primary {
    font-size: 5.2rem;
    margin-bottom: 3.2rem;
}

.heading-secondary {
    font-size: 4.4rem;
    margin-bottom: 9.6rem;
}

.heading-tertiary {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
}

.subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #a45500;
    letter-spacing: 2px;
    margin-bottom: 1.6rem;
}

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    border-radius: 8px;
    transition: all 0.2s;

    cursor: pointer;
}

.btn-form {
    border: none;
    background-color: #7f4200;
    color: #fbf1e6;
    align-self: end;
    padding: 1.2rem;
}

.btn-form:hover {
    background-color: #fff;
    color: #555;
}

.btn-full:link,
.btn-full:visited {
    background-color: #b65e00;
    color: #fff;

    border: none;
}

.btn-full:hover,
.btn-full:active {
    background-color: #a45500;
}

.btn-outline:link, .btn-outline:visited {
    background-color: #fff;
    color: #555;
}

.btn-outline:hover, .btn-outline:active {
    box-shadow: inset 0 0 0 2px #a45500;
}

.link:link,
.link:visited {
    color: #b65e00;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: all 0.15s ease-in-out;
}

.link:hover,
.link:active {
    color: #a45500;
    text-decoration-color: transparent;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    list-style: none;
}

.list-item {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    font-size: 1.8rem;
    line-height: 1.2;
}

.list-icon {
    width: 3rem;
    height: 3rem;
    color: #a45500;
}

/* HELPER CLASSES */
.mr-sm {
    margin-right: 1.6rem !important;
}

.mt-sm {
    margin-top: 1.6rem !important;
}

.mb-md {
    margin-bottom: 4.8rem !important;
}

.text-center {
    text-align: center !important;
}

strong {
    font-weight: 500;
}

